<nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-family: 'Pangolin', cursive;">
  <div class="container">
    <a class="navbar-brand" href="{% url 'welcome' %}" style="padiing-right:400px;">ShOw|Off</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/admin">Admin</a>
        </li>
      </ul>
              <li class="nav-item">
                <a href="{% url 'liveshowoffs' %}">Latest showoffs</a>
              </li>
        <li class="nav-item">
          <a href="{% url 'welcome' %}">All showoffs</a>
        </li>
      <form class="form-inline my-2 my-lg-0" role="search" action="{%url 'search_results'%}">
      <input class="form-control mr-sm-2" type="search" placeholder="Search categories" name="image" aria-label="Search" style="font-size:25px;padding-left:40px;">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" style="font-size:25px;"><i class="fa fa-search"></i>&#x1F609</button>
    </form>
    </div>
  </div>
</nav>
