<body id="welcome">
{%extends 'showme/base.html'%}
{% block content %}
{{block.super}}
<div class="container">

 <div class="row">
   {# displaying index Image #}
{% for item in images %}
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-5">
     <div class="card" style="width: 23rem;">
       <a href="{% url 'detail' image_id=item.id %}"><img src="{{item.image.url}}" class="img-responsive " alt="Image"style="width:100%"></a>
       {# <div class="card-body"> #}

       {# <a href="{% url 'image' item.id %}" class="btn btn-blue float-right">about &rarr;</a> #}
       {# </div> #}
     </div>

   </div>
   {% empty %}
  <div class="row">
  </div>
  {% endfor %}

</body>
     </div>
<center><footer style="font-size:30px;">
  <div class="copy">
      <p>&copy; 2018 ShowOff Gallerry viewer. All Rights Reserved | Done by <a>Collins Muiruri</a> </p>
  </div>
</footer></center>
</div>
{% endblock %}
